@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Khula ExtraBold'), local('Khula-ExtraBold'), url(https://fonts.gstatic.com/s/khula/v5/OpNPnoEOns3V7G-piBvTpio.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Khula ExtraBold'), local('Khula-ExtraBold'), url(https://fonts.gstatic.com/s/khula/v5/OpNPnoEOns3V7G-piBvTpio.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq3o.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
/*** beginning of nested styling ***/
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body #container {
  max-width: 800px;
  font-size: 1.6rem;
}
body #container #header {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #container #header #nameLogo {
  display: flex;
  justify-content: center;
}
body #container #header #nameLogo img {
  max-width: 100%;
  padding: 14px;
}
body #container #header nav {
  max-width: 800px;
  display: flex;
  justify-content: space-evenly;
}
body #container #tagLineSpace {
  height: 40vh;
  width: 100vw;
  position: relative;
  left: 0;
  right: 0;
  background-image: url("../images/Asset 1.png");
  background-size: 100% auto;
  background-attachment: fixed;
  background-origin: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #container #tagLineSpace #tagline {
  width: 35%;
  color: white;
}
body #container #tagLineSpace #writesCode {
  display: flex;
  justify-content: flex-end;
}
