
//importing fonts
@import url('https://fonts.googleapis.com/css?family=Khula:800%7CRoboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css?family=Khula:800%7CMerriweather%7CRoboto+Mono&display=swap');

*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	max-width:100%;
   // border:1px solid grey;
  }

/*** beginning of nested styling ***/
html{
	font-size: 62.5%;
}
body{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	#container{
		max-width: 800px;
		font-size: 1.6rem;	
		
		#header{
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			#nameLogo{
				display: flex;
				justify-content: center;
				img{
					max-width: 100%;
					padding: 14px;
				}
			}//#nameLogo

			nav{
				max-width: 800px;
				display: flex;
				justify-content: space-evenly;
			}//nav

		}//#header

		#tagLineSpace {
			height: 40vh;
			width: 100vw;
			position: relative;
			left: 0;
			right: 0;
			background-image: url("../images/Asset 1.png");
			background-size: 100% auto;
			background-attachment: fixed;
			background-origin: content-box;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			#tagline{
				width: 35%;
				color: white;
			}

			#writesCode{
				display: flex;
				justify-content: flex-end;
			}



		}//#tagLineSpace

		#mainContent{

			#aboutMe{
				padding: 10px 0px 10px 0px;
				display: flex;
				align-items: center;
			}//#aboutMe

			#profilePicture{
				img{
					max-width: 100%;
					max-height: 1500px;
				}
			}//#profilePicture

			#testimonial{
				display: flex;
				justify-content: center;
				.quote{
					max-width: 60%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					p{
						padding: 5px 0px 5px 0px;
						display: flex;
						justify-content: center;
					}//p
				}//.quote
			}//#testimonial

			#experienceBoxes{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;

				.box{
					margin-top: 15px;
					max-width: 25%;
					h3{
						margin-bottom: 5px;
					}
				}


			}//#experienceBoxes

			#contactMe{
				margin-bottom: 15px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				#links{
					margin: 15px;
					display: flex;
					justify-content: space-between;
				}
			}//#contactMe

		}//#mainContent

		#footer{
			display: flex;

			p{
				margin: 5px;
			}
		}

	}//container
	
}//body