
//importing fonts
@import url('https://fonts.googleapis.com/css?family=Khula:800%7CRoboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css?family=Khula:800%7CMerriweather%7CRoboto+Mono&display=swap');

*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	max-width:100%;
    border:1px solid grey;
  }

/*** beginning of nested styling ***/
html{
	font-size: 62.5%;
}
body{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	#container{
		max-width: 800px;
		font-size: 1.6rem;	
		
		#header{
			background-color: peachpuff;
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			#nameLogo{
				img{
					max-width: 75%;
					padding: 14px;
				}
			}//#nameLogo

			nav{
				border: 1px solid black;
				max-width: 500px;
				display: flex;
				justify-content: space-around;
			}//nav
			
		}//#header

	}//container
	
}//body